<div id="app"  v-cloak>
    <div class='page-search'>
        <el-collapse>
            <el-collapse-item title="查询条件">
                <div class="search">
                    <div class="search-row">
                        <div class='search-item'>
                            <span>送测名称：</span>
                            <el-input v-model="search.qa_name" placeholder="输入送测名称进行模糊查询"></el-input>
                        </div>
                    </div>
                    <div class="search-row">
                        <div class='search-item'>
                            <el-button  type="primary" @click="searchChange">查询</el-button>
                        </div>
                    </div>
                </div>
            </el-collapse-item>
        </el-collapse>
    </div>
    <div class='page-button'>
    </div>
    <div class='page-list'>
        <el-table
            :data="list.data"
            border
            stripe
            style="width: 100%">
            <el-table-column 
                label="操作"
                width="200"                
                header-align="center"
                align="center">
                <template slot-scope="scope">
                    <div class="operator">
                        <a v-if="auth_button['Task.Qa.Qa'] && scope.row.status=='01'" @click="qaQaInfo(scope.row.id)">送测</a>
                        <a v-if="auth_button['Task.Qa.Online'] && scope.row.status=='01'" @click="showDialogOnline(scope.row.id,scope.row.summary)">上线</a>
                        <a v-if="auth_button['Task.Qa.Revoke'] && scope.row.status=='01'" @click="revokeQaInfo(scope.row.id)">撤销</a>
                        <a v-if="auth_button['Task.Qa.Down']" @click="downQaInfo(scope.row.id)">下载</a>
                        <a v-if="auth_button['Task.Qa.Summary'] && scope.row.status=='02'" @click="showDialogSummary(scope.row.summary)">总结</a>
                    </div>
                </template>
            </el-table-column>      
            <el-table-column
                prop="qa_name"
                label="送测名称"
                :show-overflow-tooltip="true">
            </el-table-column>      
            <el-table-column
                prop="account_name"
                label="参与人员"
                :show-overflow-tooltip="true">
            </el-table-column>
            <el-table-column
                prop="round"
                label="轮数">
            </el-table-column>
            <el-table-column
                prop="status"
                label="状态"
                :formatter="formatStatus">
            </el-table-column>
            <el-table-column
                prop="qa_date"
                label="送测时间"
                :formatter="formatDate">
            </el-table-column>
            <el-table-column
                prop="online_date"
                label="上线时间"
                :formatter="formatDate">
            </el-table-column>
        </el-table>
    </div>
    <div class='page-pagination'>
        <el-pagination
            background
            layout="total,prev, pager, next"
            :current-page=list.page.page_index
            :total=list.page.total
            :page-size=list.page.page_size
            @current-change="pageIndexChange"
            @prev-click="pageIndexChange"
            @next-click="pageIndexChange">
        </el-pagination>
    </div>
    <div class='dialog'>        
        <el-dialog
            :title="dialog.online.title"
            :visible.sync="dialog.online.visible"
            :append-to-body="true"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            custom-class='dialog-online'
            top="5vh">
            <div class="dialog-content">
                <div class="dialog-row">
                    <div class="tip">
                        送测需求的bug总结，请向如下参与人员获取。如产品有问题总结，可一并填入，注意分开来填写。
                    </div>
                </div>
                <template v-for="item in dialog.online.online_info.summary.value">
                    <div class="dialog-row">
                        <div class="dialog-item dialog-label require">
                            {{item.key}}：
                        </div>
                    </div>
                    <div class="dialog-row">
                        <div class="dialog-item">
                            <el-input v-model="item.value" maxlength="1000" placeholder="请输入bug总结，如果没有bug，请填写【无bug】" type='textarea' resize='none' rows='4'></el-input>
                        </div>
                    </div>  
                </template>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialog.online.visible = false">取消</el-button>
                <el-button v-if="auth_button['Task.Qa.Online']" type="primary" @click="onlineQaInfo">上线</el-button>
            </span>
        </el-dialog>        
        <el-dialog
            :title="dialog.summary.title"
            :visible.sync="dialog.summary.visible"
            :append-to-body="true"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            custom-class='dialog-online'
            top="5vh">
            <div class="dialog-content">
                <div class="dialog-row">
                    <div class="tip">
                        送测需求的bug总结。
                    </div>
                </div>
                <template v-for="item in dialog.summary.summary_info.summary.value">
                    <div class="dialog-row">
                        <div class="dialog-item dialog-label require">
                            {{item.key}}：
                        </div>
                    </div>
                    <div class="dialog-row">
                        <div class="dialog-item">
                            <el-input v-model="item.value" :disabled=true maxlength="1000" placeholder="请输入bug总结，如果没有bug，请填写【无bug】" type='textarea' resize='none' rows='4'></el-input>
                        </div>
                    </div>  
                </template>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialog.summary.visible = false">取消</el-button>
            </span>
        </el-dialog>
    </div>
    <div class="auth-button">
        <!--用于页面上的按钮与弹框按钮-->
        {{auth_button}}
    </div>
</div>