<div id="app" >
    <div class='page-search'>

    </div>
    <div class='page-button'>
        <el-button-group>
            <el-button type="primary" icon="el-icon-edit"></el-button>
            <el-button type="primary" icon="el-icon-share"></el-button>
            <el-button type="primary" icon="el-icon-delete"></el-button>
        </el-button-group>
    </div>
    <div class='page-list'>
        <el-table
            :data="tableData"
            border
            stripe
            row-key="date"
            style="width: 100%"
            :row-style="handleRowStyle">
            <el-table-column
                label="分配"
                width="50"                
                header-align="center"
                align="center">
                <template slot-scope="scope">
                    <el-checkbox v-if="scope.row.date!='2016-05-04'" :key="scope.row.id" v-model="checkListFenPei[scope.row.id]"></el-checkbox>
                </template>
            </el-table-column>            
            <el-table-column
                label="送测"
                width="50"                
                header-align="center"
                align="center">
                <template slot-scope="scope">
                    <el-checkbox v-if="scope.row.date!='2016-05-03'" :key="scope.row.id" v-model="checkListQa[scope.row.id]"></el-checkbox>
                </template>
            </el-table-column>
            <el-table-column
                prop="date"
                label="日期"
                width="180">
            </el-table-column>
            <el-table-column
                prop="name"
                label="姓名"
                width="180">
            </el-table-column>
            <el-table-column
                prop="address"
                label="地址">
            </el-table-column>
        </el-table>
    </div>
</div>