<div id="app"  v-cloak>
    <div class='page-search'>
        <el-collapse>
            <el-collapse-item title="查询条件">
                <div class="search">
                    <div class="search-row">
                        <div class='search-item'>
                            <span>需求名称：</span>
                            <el-input v-model="search.task_name" placeholder="输入需求名称进行模糊查询"></el-input>
                        </div>
                    </div>
                    <div class="search-row">
                        <div class='search-item'>
                            <span>需求状态：</span>
                            <el-checkbox-group v-model="search.status">
                                <el-checkbox v-for="status in base_info.status" :label="status.key" :key="status.key">{{status.value}}</el-checkbox>
                            </el-checkbox-group>
                        </div>
                    </div>
                    <div class="search-row">
                        <div class='search-item'>
                            <span>开发人员：</span>
                            <el-select v-model="search.account_id" placeholder="请选择">
                                <el-option label="全部" value=""></el-option>
                                <el-option-group
                                    v-for="group in base_info.account"
                                    :key="group.label"
                                    :label="group.label">
                                    <el-option
                                        v-for="item in group.options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-option-group>
                            </el-select>
                        </div>
                        <div class='search-item'>
                            <span>提出人：</span>
                            <el-select v-model="search.needer" placeholder="请选择">
                                <el-option label="全部" value=""></el-option>
                                <el-option-group
                                    v-for="group in base_info.needer"
                                    :key="group.label"
                                    :label="group.label">
                                    <el-option
                                        v-for="item in group.options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-option-group>
                            </el-select>
                        </div>
                    </div>
                    <div class="search-row">
                        <div class='search-item'>
                            <span>模块类型：</span>
                            <el-select v-model="search.module_type" placeholder="请选择">
                                <el-option label="全部" value=""></el-option>
                                <el-option label="系统" value="01"></el-option>
                                <el-option label="业务" value="02"></el-option>
                            </el-select>
                        </div>
                        <div class='search-item'>
                            <span>模块名：</span>
                            <el-select v-model="search.module_id" placeholder="请选择" filterable>
                                <el-option label="全部" value=""></el-option>
                                <el-option-group
                                    v-for="group in search_module"
                                    :key="group.label"
                                    :label="group.label">
                                    <el-option
                                        v-for="item in group.options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-option-group>
                            </el-select>
                        </div>
                    </div>
                    <div class="search-row">
                        <div class='search-item'>
                            <el-button  type="primary" @click="searchChange">查询</el-button>
                        </div>
                    </div>
                </div>
            </el-collapse-item>
        </el-collapse>
    </div>
    <div class='page-button'>
        <el-button v-if="auth_button['Task.Require.Add']" type="primary" @click="showDialogRequire(0)">新增</el-button>
        <el-button v-if="auth_button['Task.Require.Allot']" type="primary" @click="showDialogAllot">分配</el-button>
        <el-button v-if="auth_button['Task.Require.Qa']" type="primary" @click="qaRequireInfo">送测</el-button>
        <el-button v-if="auth_button['Task.Require.ReAllot']" type="primary" @click="showDialogReAllot">重新分配</el-button>
        <el-button v-if="auth_button['Task.Require.Output']" type="primary" @click="outputRequireInfo">导出</el-button>
    </div>
    <div class='page-list'>
        <el-table
            :data="list.data"
            border
            stripe
            style="width: 100%"
            :row-class-name="handleRowClassName">
            <el-table-column 
                v-if="auth_button['Task.Require.Allot']" 
                label="分配"
                width="50"                
                header-align="center"
                align="center">
                <template slot-scope="scope">
                    <el-checkbox v-if="scope.row.status=='01' && scope.row.xingzhi=='01'" :key="scope.row.id" v-model="checkListAllot[scope.row.id]"></el-checkbox>
                </template>
            </el-table-column>        
            <el-table-column  
                v-if="auth_button['Task.Require.Qa']" 
                label="送测"
                width="50"                
                header-align="center"
                align="center">
                <template slot-scope="scope">
                    <el-checkbox v-if="scope.row.status=='03'" :key="scope.row.id" v-model="checkListQa[scope.row.id]"></el-checkbox>
                </template>
            </el-table-column>
            <el-table-column 
                v-if="auth_button['Task.Require.ReAllot']" 
                label="重新分配"
                width="100"                
                header-align="center"
                align="center">
                <template slot-scope="scope">
                    <el-checkbox v-if="scope.row.status=='02'" :key="scope.row.id" v-model="checkListReAllot[scope.row.id]"></el-checkbox>
                </template>
            </el-table-column>    
            <el-table-column
                label="需求名称"
                :show-overflow-tooltip="true">
                <template slot-scope="scope">
                    <a class="table-a" @click="showDialogRequire(scope.row.id)">{{scope.row.task_name}}</a>
                </template>
            </el-table-column>
            <el-table-column
                prop="module_type"
                label="模块类型"
                :formatter="formatModuleType">
            </el-table-column>
            <el-table-column
                prop="module_name"
                label="模块名称"
                :show-overflow-tooltip="true">
            </el-table-column>
            <el-table-column
                prop="account_name"
                label="开发人员">
            </el-table-column>
            <el-table-column
                prop="needer"
                label="提出人">
            </el-table-column>
            <el-table-column
                prop="status"
                label="状态"
                :formatter="formatStatus">
            </el-table-column>
            <el-table-column
                prop="xingzhi"
                label="性质"
                :formatter="formatXingzhi">
            </el-table-column>
            <el-table-column
                prop="create_date"
                label="需求时间"
                :formatter="formatDate">
            </el-table-column>
            <el-table-column
                prop="send_date"
                label="分配时间"
                :formatter="formatDate">
            </el-table-column>
            <el-table-column
                prop="need_done_date"
                label="期望时间"
                :formatter="formatDate">
            </el-table-column>
            <el-table-column
                prop="done_date"
                label="完成时间"
                :formatter="formatDate">
            </el-table-column>
        </el-table>
    </div>
    <div class='page-pagination'>
        <el-pagination
            background
            layout="total,prev, pager, next"
            :current-page=list.page.page_index
            :total=list.page.total
            :page-size=list.page.page_size
            @current-change="pageIndexChange"
            @prev-click="pageIndexChange"
            @next-click="pageIndexChange">
        </el-pagination>
    </div>
    <div class='dialog'>
        <el-dialog
            :title="dialog.require.title"
            :visible.sync="dialog.require.visible"
            :append-to-body="true"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            custom-class='dialog-require'
            top="5vh">
            <div class="dialog-content">
                <el-tabs type="card" v-model="dialog.require.tab_index">
                    <el-tab-pane label="产品">
                        <div class="dialog-row">
                            <div class="dialog-item dialog-label require">
                                需求性质
                                <el-tooltip class="item" effect="dark" content="默认为待定需求，可以选择为确定需求，待定需求将不会分配开发。一旦需求分配就不能修改为待定了。" placement="right">
                                    <i class="el-icon-info"></i>
                                </el-tooltip>
                            </div>
                        </div>
                        <div class="dialog-row">
                            <div class="dialog-item">
                                <el-radio-group v-model="dialog.require.require_info.xingzhi" :disabled="!require_dialog_product_status||(dialog.require.require_info.xingzhi=='01' && ['','01'].indexOf(dialog.require.require_info.status)<0)">
                                    <el-radio label="01">确定</el-radio>
                                    <el-radio label="02">待定</el-radio>
                                </el-radio-group>
                            </div>
                        </div>
                        <div v-if='false' class="dialog-row">
                            <div class="dialog-item dialog-label require">
                                需求提出人
                            </div>
                        </div>
                        <div v-if='false' class="dialog-row">
                            <div class="dialog-item">
                                <el-input v-model="dialog.require.require_info.needer.value" :disabled="!require_dialog_product_status" placeholder="请输入需求提出人" maxlength="50"></el-input>
                            </div>
                        </div>
                        <div class="dialog-row">
                            <div class="dialog-item dialog-label require">
                                需求名称
                            </div>
                        </div>
                        <div class="dialog-row">
                            <div class="dialog-item">
                                <el-input v-model="dialog.require.require_info.task_name.value" :disabled="!require_dialog_product_status" placeholder="请输入需求名称" maxlength="100"></el-input>
                            </div>
                        </div>
                        <div class="dialog-row">
                            <div class="dialog-item dialog-label require">
                                需求模块
                            </div>
                        </div>
                        <div class="dialog-row module">
                            <div class="dialog-item">
                                类别
                                <el-select v-model="dialog.require.require_info.module_type" :disabled="!require_dialog_product_status" placeholder="请选择">
                                    <el-option label="全部" value=""></el-option>
                                    <el-option label="系统" value="01"></el-option>
                                    <el-option label="业务" value="02"></el-option>
                                </el-select>
                            </div>
                            <div class="dialog-item">
                                模块
                                <el-select v-model="dialog.require.require_info.module_id.value" :disabled="!require_dialog_product_status" placeholder="请选择" filterable>
                                    <el-option-group
                                        v-for="group in dialog_module"
                                        :key="group.label"
                                        :label="group.label">
                                        <el-option
                                            v-for="item in group.options"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-option-group>
                                </el-select>
                            </div>
                        </div>
                        <div class="dialog-row">
                            <div class="dialog-item dialog-label require">
                                需求明细
                                <el-tooltip class="item" effect="dark" content="需求的明细说明，内容支持html编辑。如果需求比较复杂，在这里填写大致说明(比如需求的小标题)，在需求附件地址里填上附件地址" placement="right">
                                    <i class="el-icon-info"></i>
                                </el-tooltip>
                            </div>
                        </div>
                        <div class="dialog-row">
                            <div class="dialog-item">
                                <textarea id="need_memo"></textarea>
                            </div>
                        </div>
                        <div class="dialog-row">
                            <div class="dialog-item dialog-label">
                                需求附件
                                <el-tooltip class="item" effect="dark" content="当需求比较复杂，可将需求说明放在文档里，在这里填写文档地址，一行一个地址。" placement="right">
                                    <i class="el-icon-info"></i>
                                </el-tooltip>
                            </div>
                        </div>
                        <div class="dialog-row">
                            <div class="dialog-item">
                                <el-input v-model="dialog.require.require_info.need_attach" :disabled="!require_dialog_product_status" placeholder="请输入需求附件" type='textarea' resize='none' rows='3'></el-input>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="开发">
                        <div class="dialog-row">
                            <div class="dialog-item dialog-label require">
                                页面入口
                                <el-tooltip class="item" effect="dark" content="需求在页面上的操作入口。" placement="right">
                                    <i class="el-icon-info"></i>
                                </el-tooltip>
                            </div>
                        </div>
                        <div class="dialog-row">
                            <div class="dialog-item">
                                <el-input v-model="dialog.require.require_info.page_enter.value" :disabled="!require_dialog_dev_status" placeholder="请输入页面入口" maxlength="100"></el-input>
                            </div>
                        </div>
                        <div class="dialog-row">
                            <div class="dialog-item dialog-label require">
                                逻辑说明
                                <el-tooltip class="item" effect="dark" content="需求的详细逻辑说明，内容支持html编辑。如果逻辑比较复杂，在这里填写大致说明(比如逻辑的小标题)，在开发附件地址里填上附件地址。" placement="right">
                                    <i class="el-icon-info"></i>
                                </el-tooltip>
                            </div>
                        </div>
                        <div class="dialog-row">
                            <div class="dialog-item">
                                <textarea id="dev_memo"></textarea>
                            </div>
                        </div>
                        <div class="dialog-row">
                            <div class="dialog-item dialog-label">
                                注意事项
                                <el-tooltip class="item" effect="dark" content="提醒开发者或QA，特别需要注意的地方。" placement="right">
                                    <i class="el-icon-info"></i>
                                </el-tooltip>
                            </div>
                        </div>
                        <div class="dialog-row">
                            <div class="dialog-item">
                                <el-input v-model="dialog.require.require_info.need_tip" :disabled="!require_dialog_dev_status" placeholder="请输入注意事项" type='textarea' resize='none' rows='3'></el-input>
                            </div>
                        </div>
                        <div class="dialog-row">
                            <div class="dialog-item dialog-label require">
                                修改文件
                                <el-tooltip class="item" effect="dark" content="提修改需求涉及的文件，一行一个文件地址。" placement="right">
                                    <i class="el-icon-info"></i>
                                </el-tooltip>
                            </div>
                        </div>
                        <div class="dialog-row">
                            <div class="dialog-item">
                                <el-input v-model="dialog.require.require_info.change_file.value" :disabled="!require_dialog_dev_status" placeholder="请输入修改文件" type='textarea' resize='none' rows='3'></el-input>
                            </div>
                        </div>                        
                        <div class="dialog-row">
                            <div class="dialog-item dialog-label">
                                SQL脚本附件地址
                                <el-tooltip class="item" effect="dark" content="SQL脚本附件地址，一行一个文件地址。" placement="right">
                                    <i class="el-icon-info"></i>
                                </el-tooltip>
                            </div>
                        </div>
                        <div class="dialog-row">
                            <div class="dialog-item">
                                <el-input v-model="dialog.require.require_info.sql_attach" :disabled="!require_dialog_dev_status" placeholder="请输入SQL脚本附件地址" type='textarea' resize='none' rows='3'></el-input>
                            </div>
                        </div>

                        <div class="dialog-row">
                            <div class="dialog-item dialog-label">
                                开发附件地址
                                <el-tooltip class="item" effect="dark" content="当逻辑比较复杂，需要放在word文档里面，在这里填写附件地址。一行一个文件地址。" placement="right">
                                    <i class="el-icon-info"></i>
                                </el-tooltip>
                            </div>
                        </div>
                        <div class="dialog-row">
                            <div class="dialog-item">
                                <el-input v-model="dialog.require.require_info.other_attach" :disabled="!require_dialog_dev_status" placeholder="请输入开发附件地址" type='textarea' resize='none' rows='3'></el-input>
                            </div>
                        </div>
                        <div class="dialog-row">
                            <div class="dialog-item dialog-label">
                                开发延迟原因
                                <el-tooltip class="item" effect="dark" content="当完成时间超过期望时间，需要填写原因。" placement="right">
                                    <i class="el-icon-info"></i>
                                </el-tooltip>
                            </div>
                        </div>
                        <div  class="dialog-row">
                            <div class="dialog-item">
                                <el-input v-model="dialog.require.require_info.dev_dealy_reason.value" :disabled="!require_dialog_dev_status" placeholder="请输入开发延迟原因" type='textarea' resize='none' rows='3'></el-input>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane v-for="item in round_arr" :key="item" :label="'送测轮次'+item">
                        <el-input v-model="dialog.require.require_info.change_file_qa[item]" :disabled="item!=dialog.require.require_info.round || !require_dialog_changefile_status" placeholder="请输入送测修改文件" type='textarea' resize='none' rows='10'></el-input>
                    </el-tab-pane>
                </el-tabs>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialog.require.visible = false">取消</el-button>
                <el-button v-if="require_dialog_btnadd_status" type="primary" @click="addRequireInfo">新增</el-button>
                <el-button v-if="require_dialog_btnsave_status" type="primary" @click="editRequireInfo">保存</el-button>
                <el-button v-if="require_dialog_btndone_status" type="primary" @click="doneRequireInfo">完成</el-button>
                <el-button v-if="require_dialog_btndelete_status" type="primary" @click="deleteRequireInfo">作废</el-button>
            </span>
        </el-dialog>
        <el-dialog
            :title="dialog.allot.title"
            :visible.sync="dialog.allot.visible"
            :append-to-body="true"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            custom-class=''
            top="5vh">
            <div class="dialog-content">
                <div class="dialog-row">
                    <div class="dialog-item dialog-label require">
                        期望时间
                    </div>
                    <div class="dialog-item">
                        <el-date-picker
                            v-model="dialog.allot.allot_info.need_done_date.value"
                            type="date"
                            :editable="false"
                            value-format="yyyy-MM-dd"
                            placeholder="选择日期">
                        </el-date-picker>
                    </div>
                </div>
                <div class="dialog-row">
                    <div class="dialog-item dialog-label require">
                        开发人员
                    </div>
                    <div class="dialog-item">
                        <el-select v-model="dialog.allot.allot_info.account_id.value" placeholder="请选择">
                            <el-option-group
                                v-for="group in base_info.account_allot"
                                :key="group.label"
                                :label="group.label">
                                <el-option
                                    v-for="item in group.options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                </el-option>
                            </el-option-group>
                        </el-select>
                    </div>
                </div>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialog.allot.visible = false">取消</el-button>
                <el-button v-if="auth_button['Task.Require.Allot']" type="primary" @click="allotRequireInfo">分配</el-button>
            </span>
        </el-dialog>        
        <el-dialog
            :title="dialog.reallot.title"
            :visible.sync="dialog.reallot.visible"
            :append-to-body="true"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            custom-class=''
            top="5vh">
            <div class="dialog-content">
                <div class="dialog-row">
                    <div class="dialog-item dialog-label require">
                        开发人员
                    </div>
                    <div class="dialog-item">
                        <el-select v-model="dialog.reallot.reallot_info.account_id.value" placeholder="请选择">
                            <el-option-group
                                v-for="group in base_info.account_allot"
                                :key="group.label"
                                :label="group.label">
                                <el-option
                                    v-for="item in group.options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                </el-option>
                            </el-option-group>
                        </el-select>
                    </div>
                </div>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialog.reallot.visible = false">取消</el-button>
                <el-button v-if="auth_button['Task.Require.ReAllot']" type="primary" @click="reallotRequireInfo">重新分配</el-button>
            </span>
        </el-dialog>
    </div>
    <div class="auth-button">
        <!--用于页面上的按钮与弹框按钮-->
        {{auth_button}}
    </div>
    <div class="auth-role">
        <!--用于页面上的按钮与弹框按钮-->
        {{auth_role}}
    </div>
</div>