<div id="app" v-cloak>
    <div class="password">
        <div>
            <el-input v-model="dialog.password_info.new_pwd1.value" placeholder="请输入新密码" maxlength="10"></el-input>
        </div>
        <div>
            <el-input v-model="dialog.password_info.new_pwd2.value" placeholder="请再次输入新密码" maxlength="10"></el-input>
        </div>
        <div>
            <el-button @click="savePasswordInfo" type="primary">确认</el-button>
        </div>
    </div>
    <div class="auth-button">
        <!--用于页面上的按钮与弹框按钮-->
        {{auth_button}}
    </div>
</div>