/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-1-3, 14:39:23
    Author     : linhai.wang
*/


/********************************************************加载vue闪烁 start********************************************************/
[v-cloak],.auth-button,.auth-role { 
    display: none;
}
/********************************************************加载vue闪烁 end********************************************************/

/********************************************************菜单样式 start********************************************************/
.header,.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color:#fff;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.nav {
    top:50px;
    height:40px;
    border-top: 1px solid #f6f6f6;
    display: none;
}

.header .left,.header .right,.nav .left{
    display: flex;
    align-items: center;
}

.header .left{
    padding-left: 220px;
}

.header .left .spread span{
    display: block;
    background-image: url(/images/common/spread1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.header .right{
    padding-right: 30px;
}

.nav .left{
    margin-left:220px;
    padding:0 15px;
}

.header .el-dropdown{
    cursor: pointer;
}

.side {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 220px;
    box-sizing: border-box;
    background-color: #545c64;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
}

.side .logo{
    font-size: 16px;
    height:49px;
    text-align: center;
    line-height: 49px;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
    background-color: #545c64;
}

.side .menu{
    margin-top: 1px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.side .menu>ul>li{
    width: 220px;
}

.side .menu .iconfont{
    font-size: 22px;
    padding-left: 1px;
    margin-right: 6px;
}

.content {
    position: fixed;
    top: 50px; 
    left: 220px;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;    
    overflow-y: auto;
    padding: 10px;
}

.content>#app{
    background-color: #fff;
    padding: 10px;
}

.content::-webkit-scrollbar{
    width: 10px;
}

/************菜单折叠************/
.el-menu--popup-right-start {
    margin-left: 1px;
    margin-right: 5px;
}

.menu-collapse.side,
.menu-collapse .menu>ul>li,
.menu-collapse .logo{
    width: 64px;
}

.menu-collapse .logo{
    background-image: url(/images/common/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

.menu-collapse .logo span:nth-of-type(1){
    display:none;
}

.menu-collapse.content{
    left:64px;
}

.menu-collapse .left{
    padding-left: 64px;
}

.menu-collapse .left .spread span{
    background-image: url(/images/common/spread2.png);
}
/********************************************************菜单样式 end********************************************************/

/********************************************************table样式 start********************************************************/
.table-a{
    cursor:pointer;
    color:#409EFF;
}
.table-a:hover{    
    text-decoration:none;
}
.page-search,.page-button{
    margin-bottom:10px;
}
.page-pagination{
    text-align: right;
}
.el-pagination.is-background .el-pager li {
    margin: 0 2px;
}
.el-table .timeout{
    color:#ff0000;
}
/********************************************************table样式 start********************************************************/

/********************************************************search样式 start********************************************************/
.page-search .el-collapse{
    border: 1px solid #ebeef5;
    border-radius: 2px;
}
.page-search .el-collapse-item__header{
    background-color: #f5f5f5;
    padding-left: 10px;
    font-weight: bold;
    height: 38px;
    line-height: 38px;
}
.page-search .el-collapse-item__content{
    padding: 15px;
}
.page-search .el-select{
    width: 200px;
}
.page-search .search-row{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
}
.page-search .search-row:nth-of-type(n+2){
    margin-top:10px;
}
.page-search .search-item{
    margin-right:50px;
}
/********************************************************search样式 start********************************************************/

/********************************************************dialog样式 start********************************************************/
.el-dialog{
    margin-top: 5vh;
    width: 30%;
    min-width: 500px;
}
.el-dialog__header{    
    border-bottom: 1px solid #e5e5e5;
}
.el-dialog__footer{
    border-top: 1px solid #e5e5e5;
    padding: 10px 20px 10px;
}
.dialog-content .el-select{
    width: 300px;
}
.dialog-content .dialog-row{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
}
.dialog-content .dialog-row:nth-of-type(n+2){
    margin-top: 5px;
}
.dialog-content .dialog-item{
    margin-right:50px;
}
.dialog-content .dialog-label{
    margin-right:10px;
    line-height:40px;
    width: 100px;
    text-align: right;
}
.dialog-content .dialog-label::after{
    content: "*";
    color: #fff;
}
.dialog-content .dialog-label.require::after{
    color: #f56c6c;
}
.dialog-content .el-input{
    width: 300px;
}
/********************************************************dialog样式 end********************************************************/
/********************************************************下载层样式 start********************************************************/
.download,
.download form,
.download iframe{
    display:none;
}
/********************************************************下载层样式 end********************************************************/
/********************************************************panel start********************************************************/
.panel p{
    margin-bottom:10px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}

.panel-body {
    padding: 15px
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.panel-heading>.dropdown .dropdown-toggle {
    color: inherit
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}

.panel-title>a {
    color: inherit
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.panel>.list-group,.panel>.panel-collapse>.list-group {
    margin-bottom: 0
}

.panel>.list-group .list-group-item,.panel>.panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0
}

.panel>.list-group:first-child .list-group-item:first-child,.panel>.panel-collapse>.list-group:first-child .list-group-item:first-child {
    border-top: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.panel>.list-group:last-child .list-group-item:last-child,.panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.panel-heading+.list-group .list-group-item:first-child {
    border-top-width: 0
}

.list-group+.panel-footer {
    border-top-width: 0
}

.panel>.table,.panel>.table-responsive>.table,.panel>.panel-collapse>.table {
    margin-bottom: 0
}

.panel>.table caption,.panel>.table-responsive>.table caption,.panel>.panel-collapse>.table caption {
    padding-right: 15px;
    padding-left: 15px
}

.panel>.table:first-child,.panel>.table-responsive:first-child>.table:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.panel>.table:first-child>thead:first-child>tr:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table:first-child>thead:first-child>tr:first-child th:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child {
    border-top-left-radius: 3px
}

.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table:first-child>thead:first-child>tr:first-child th:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child {
    border-top-right-radius: 3px
}

.panel>.table:last-child,.panel>.table-responsive:last-child>.table:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.panel>.table:last-child>tbody:last-child>tr:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child {
    border-bottom-left-radius: 3px
}

.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child {
    border-bottom-right-radius: 3px
}

.panel>.panel-body+.table,.panel>.panel-body+.table-responsive,.panel>.table+.panel-body,.panel>.table-responsive+.panel-body {
    border-top: 1px solid #ddd
}

.panel>.table>tbody:first-child>tr:first-child th,.panel>.table>tbody:first-child>tr:first-child td {
    border-top: 0
}

.panel>.table-bordered,.panel>.table-responsive>.table-bordered {
    border: 0
}

.panel>.table-bordered>thead>tr>th:first-child,.panel>.table-responsive>.table-bordered>thead>tr>th:first-child,.panel>.table-bordered>tbody>tr>th:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:first-child,.panel>.table-bordered>tfoot>tr>th:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child,.panel>.table-bordered>thead>tr>td:first-child,.panel>.table-responsive>.table-bordered>thead>tr>td:first-child,.panel>.table-bordered>tbody>tr>td:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:first-child,.panel>.table-bordered>tfoot>tr>td:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child {
    border-left: 0
}

.panel>.table-bordered>thead>tr>th:last-child,.panel>.table-responsive>.table-bordered>thead>tr>th:last-child,.panel>.table-bordered>tbody>tr>th:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:last-child,.panel>.table-bordered>tfoot>tr>th:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child,.panel>.table-bordered>thead>tr>td:last-child,.panel>.table-responsive>.table-bordered>thead>tr>td:last-child,.panel>.table-bordered>tbody>tr>td:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:last-child,.panel>.table-bordered>tfoot>tr>td:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child {
    border-right: 0
}

.panel>.table-bordered>thead>tr:first-child>td,.panel>.table-responsive>.table-bordered>thead>tr:first-child>td,.panel>.table-bordered>tbody>tr:first-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>td,.panel>.table-bordered>thead>tr:first-child>th,.panel>.table-responsive>.table-bordered>thead>tr:first-child>th,.panel>.table-bordered>tbody>tr:first-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>th {
    border-bottom: 0
}

.panel>.table-bordered>tbody>tr:last-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>td,.panel>.table-bordered>tfoot>tr:last-child>td,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td,.panel>.table-bordered>tbody>tr:last-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>th,.panel>.table-bordered>tfoot>tr:last-child>th,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th {
    border-bottom: 0
}

.panel>.table-responsive {
    margin-bottom: 0;
    border: 0
}

.panel-group {
    margin-bottom: 20px
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px
}

.panel-group .panel+.panel {
    margin-top: 5px
}

.panel-group .panel-heading {
    border-bottom: 0
}

.panel-group .panel-heading+.panel-collapse>.panel-body,.panel-group .panel-heading+.panel-collapse>.list-group {
    border-top: 1px solid #ddd
}

.panel-group .panel-footer {
    border-top: 0
}

.panel-group .panel-footer+.panel-collapse .panel-body {
    border-bottom: 1px solid #ddd
}

.panel-default {
    border-color: #ddd
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd
}

.panel-default>.panel-heading .badge {
    color: #f5f5f5;
    background-color: #333
}

.panel-default>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #ddd
}

.panel-primary {
    border-color: #428bca
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #428bca
}

.panel-primary>.panel-heading .badge {
    color: #428bca;
    background-color: #fff
}

.panel-primary>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #428bca
}

.panel-success {
    border-color: #d6e9c6
}

.panel-success>.panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.panel-success>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #d6e9c6
}

.panel-success>.panel-heading .badge {
    color: #dff0d8;
    background-color: #3c763d
}

.panel-success>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #d6e9c6
}

.panel-info {
    border-color: #bce8f1
}

.panel-info>.panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.panel-info>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #bce8f1
}

.panel-info>.panel-heading .badge {
    color: #d9edf7;
    background-color: #31708f
}

.panel-info>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #bce8f1
}

.panel-warning {
    border-color: #faebcc
}

.panel-warning>.panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc
}

.panel-warning>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #faebcc
}

.panel-warning>.panel-heading .badge {
    color: #fcf8e3;
    background-color: #8a6d3b
}

.panel-warning>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #faebcc
}

.panel-danger {
    border-color: #fbc4c4
}

.panel-danger>.panel-heading {
    color: #F56C6C;
    background-color: #f2dede;
    border-color: #fbc4c4
}

.panel-danger>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #fbc4c4
}

.panel-danger>.panel-heading .badge {
    color: #f2dede;
    background-color: #F56C6C
}

.panel-danger>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #fbc4c4
}
/********************************************************panel end********************************************************/