<div id="app" >
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">公告</h3>
        </div>
        <div class="panel-body">
            <strong><code>请大家在开发过程中，严格遵守开发规则！</code></strong>
            <p></p>
            <p>1.开发不要自己修改数据库结构，如要修改找主管</p>
            <p>2.开发不要自己增加某些权限点，如要修改找主管</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">公告</h3>
        </div>
        <div class="panel-body">
            <p>请大家准时完成开发任务！</p>
            <p>遇到需求不清楚的，请找相关产品人员！</p>
            <p>遇到开发上问题的，请找王林海、张梦华！</p>
        </div>
    </div>
</div>