/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-1-12, 14:44:45
    Author     : linhai.wang
*/

.page-search,.page-button {
    margin-bottom: 0px;
}

.page-search .el-input, .page-search .el-checkbox-group {
    width: 400px;
    display: inline-block;
}

.todo{
    display: flex;    
    flex-wrap: wrap;
}

.todo .el-card{
    width: 300px;
    height: 300px;
    margin: 10px 10px 0 0;
}

.todo .el-card:hover{
    border-color: #c6e2ff;
    background-color: #ecf5ff;
}

.todo .el-card__header {
    border-bottom: 1px solid #dde1e8
}

.todo .el-card__body .todo-content{
    height: 180px;
    overflow-y: auto;
}

.todo .el-card__body .todo-content::-webkit-scrollbar{
    width: 10px;
}

.todo .el-card__body .create-date{
    padding: 10px 20px;
    text-align: right;
    font-style: italic;
    color: #999;
}

.todo .title{
    display: flex;
    justify-items: center;
    justify-content: space-between;
}

.todo .title .operator{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    font-size:20px;
    cursor:pointer;
}

.todo .title .operator i:hover{
    color: #5cb6ff;
}

.todo .title .operator i:nth-of-type(2){
    margin: 0 5px;
}

.todo .priority-3 .title>span{
    color:#f56c6c;
    font-weight: bold;
    font-size:14px;
}

.todo .priority-2 .title>span{
    color:#e6a23c;
    font-weight: bold;
    font-size:14px;
}

.todo .priority-1 .title>span{
    color:#909399;
    font-weight: bold;
    font-size:14px;
}

.todo .todo-add{
    line-height: 260px;
    text-align: center;
    font-size: 120px;
    cursor: pointer;
    font-size: 120px;
}

.dialog-todo .el-textarea,.dialog-todo .el-input,.dialog-todo .el-select{
    width:400px;
}

.el-dialog{
    width: 600px;
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }