<!DOCTYPE html>
<html>
    <head>
        <title>开发管理系统-{{title}}</title>
        <meta charset="UTF-8">
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    </head>
    <body>
        <div>
            <div id="header" class="header" :class="{'menu-collapse':menu_collapse}">
                <div class="left">
                    <div class="spread"><span @click="menuCollapse"></span></div>
                </div>
                <div class="right">
                    <div>
                        <el-dropdown @command="handleCommand" v-cloak>
                            <span class="el-dropdown-link">
                                {{account_name}}<i class="el-icon-arrow-down el-icon--right"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item command="changepwd">修改密码</el-dropdown-item>
                                <el-dropdown-item command="logout" divided>退出</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                </div>
            </div>
            <div id="nav" class="nav" >
                <div class="left">
                    <el-breadcrumb separator="/">
                        <el-breadcrumb-item :to="{ path: '/' }">主页</el-breadcrumb-item>
                        <el-breadcrumb-item><a href="/">活动管理</a></el-breadcrumb-item>
                        <el-breadcrumb-item>活动列表</el-breadcrumb-item>
                        <el-breadcrumb-item>活动详情</el-breadcrumb-item>
                    </el-breadcrumb>
                </div>
            </div>
            <div id="menu" class="side" :class="{'menu-collapse':menu_collapse}">
                 <div class="logo">
                     <span>开发管理系统</span>
                </div>
                <el-scrollbar class="menu" v-cloak>
                    {{menu}}
                </el-scrollbar>
            </div>
            <div class="content">
                {{template}}
            </div>
        </div>
    </body>
</html>
